<div>
	Create your order:
		<%= form_for Order.new do |f| %>
			<%= f.text_field :name, :placeholder => "Name" %>
			<%= f.text_field :item, :placeholder => "Item" %>
			<%= f.number_field :cost, :placeholder => "Cost" %>
			<%= f.submit %>
		<% end %>
</div>