<h1>Add a new order</h1>
 
 <div> 
 	<%= form_for :order, url: orders_path do |o| %>
 		Name: <%= o.text_field :name %>
 		Item: <%= o.text_field :item %>
 		Cost: <%= o.text_field :cost %>
 		<%= o.submit %>
 	<% end %>
 </div>
 
 <%= link_to 'Orders', orders_path %> 